.category_card {
    border: 2px solid green;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 238, 200);
}

.category_card a{
    text-decoration: none;
    color: black;
}